# Dependencies
/node_modules

# Build outputs
/dist
/build
/coverage
.tsup/
.docusaurus
.cache

# Vitest
*.snap
*.html

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
.env.local

# IDE + System
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# TypeScript build cache
*.tsbuildinfo
